h1{
    color: red;
    background-color:yellow
}

footer {
    color: white;
    background-color: darkgrey;
    font-family: fantasy ;
}

#gruen{
    color: green;
}

.hs6{
    background-color: darkmagenta;
}